.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    gap: 30px;
    height: 100vh;
}

#cards-container{
    display: flex;
    // grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    flex-flow: wrap;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.app-card{
    flex-grow: 0;
    width: 120px;
}

#levelTitle {
    text-align: center;

    h1, p { margin: 0; }
}

#wall{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: 0.8);
}

#wall-button{
    margin: 0px;
    padding: 0px;
    border: 0px;
    margin: auto;
    // background-color: transparent;
}

#wall-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    color: white;
    text-shadow: black 1px solid;
}

.hidden{
    display: none;
}

.menuButton{
    padding: 15px;
    font-size: 16px;
    background: #4682B4;
    color: #fff;
    border: none;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

#menuButtons{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 440px;
}

#cards-container{
    background-color: lightskyblue;
    max-width: 400px;
    border-radius: 20px;
}
