<main class="main">
    <div class="content">
        <div id="wall" class="hidden" (click)="clickWall()">
            <div id="wall-title"></div>
        </div>
        <div id="levelTitle">{{levelTitle}}</div>
        <div id="cards-container">
            <app-card class="app-card" *ngFor="let i of cards" [animal]="i.card" [index]="i.index"
                [disabled]="i.disabled" [flipped]="i.flipped" (flipEvent)="updateFlipState(i, $event)"
                (click)="selectCard(i)" />
        </div>
        <div id="menuButtons">
            <div class="menuButton">
                <a href="/" routerLinkActive="active">Menu</a>
            </div>
        </div>
    </div>
</main>