.content {
    width: 100vw;
    height: 100vh;
    background-color: lightskyblue;
}

h1{
    margin: 0px;
    text-align: center;
}

.iniciarJogo{
    font-style: normal;
    color: black;
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.button{
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    // display: flex;
    // align-items: center;
}