.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 56px;
    text-transform: uppercase;
}

.iniciarJogo {
    padding: 20px;
    font-size: 32px;
    background: white;
    color: black;
    border: none;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}